.contact{
	position: relative;
	width: 100%;
	height: 400px;
	/* background: #101010; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #f9004d;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:#f9004d;
	bottom: 5px;
    right: 20px;
	font-size: 20px; 
    text-align: center;
    /* margin-left: 38%; */
}

 .contact h1 {
    text-align: center;
    font-size: 40px;
}
/*
.contact {
    text-align: center;
}

.social {
    text-align: center;
    margin-left:43%;
}

.contact h3 {
    font-size: 25px;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */